/*************** DEPENDANCIES *****************/
/******** VARIABLES *********/
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/*********** MIXINS ***********/
/*************** DEFAULT STYLES ***************/
/***
    The new CSS reset - version 1.11.2 (last updated 15.11.2023)
    GitHub page: https://github.com/elad2412/the-new-css-reset
***/
/*
    Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property
    - The "symbol *" part is to solve Firefox SVG sprite bug
    - The "html" element is excluded, otherwise a bug in Chrome breaks the CSS hyphens property (https://github.com/elad2412/the-new-css-reset/issues/36)
 */
*:where(:not(html, iframe, canvas, img, svg, video, audio, [type=color], [type=radio], [type=checkbox], [type=range]):not(svg *, symbol *)) {
  all: unset;
  display: revert;
}

/* Preferred box-sizing value */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Fix mobile Safari increase font-size on landscape mode */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Reapply the pointer cursor for anchor tags */
a, button {
  cursor: revert;
}

/* Remove list styles (bullets/numbers) */
ol, ul, menu, summary {
  list-style: none;
}

/* For images to not be able to exceed their container */
img {
  max-inline-size: 100%;
  max-block-size: 100%;
}

/* removes spacing between cells in tables */
table {
  border-collapse: collapse;
}

/* Safari - solving issue when using user-select:none on the <body> text input doesn't working */
input, textarea {
  -webkit-user-select: auto;
}

/* revert the 'white-space' property for textarea elements on Safari */
textarea {
  white-space: revert;
}

/* minimum style to allow to style meter element */
meter {
  -webkit-appearance: revert;
  appearance: revert;
}

/* preformatted text - use only for this feature */
:where(pre) {
  all: revert;
  box-sizing: border-box;
}

/* reset default text opacity of input placeholder */
::placeholder {
  color: unset;
}

/* fix the feature of 'hidden' attribute.
   display:revert; revert to element instead of attribute */
:where([hidden]) {
  display: none;
}

/* revert for bug in Chromium browsers
   - fix for the content editable attribute will work properly.
   - webkit-user-select: auto; added for Safari in case of using user-select:none on wrapper element*/
:where([contenteditable]:not([contenteditable=false])) {
  -moz-user-modify: read-write;
  -webkit-user-modify: read-write;
  overflow-wrap: break-word;
  -webkit-line-break: after-white-space;
  -webkit-user-select: auto;
}

/* apply back the draggable feature - exist only in Chromium and Safari */
:where([draggable=true]) {
  -webkit-user-drag: element;
}

/* Revert Modal native behavior */
:where(dialog:modal) {
  all: revert;
  box-sizing: border-box;
}

/* Remove details summary webkit styles */
::-webkit-details-marker {
  display: none;
}

/*** Default form styling ***/
form {
  display: block;
  padding: 1rem;
  margin: 1rem;
  border-radius: 1rem;
  background-color: #FFFFFF;
  border-color: #FFFFFF;
}
form label {
  padding: 0.5rem;
}
form input, form select {
  background-color: #efefef;
  color: #1f1f1f;
  border: 1px solid #efefef;
  accent-color: #5a81fa;
  border-radius: 50px;
  padding: 10px 20px;
  margin: 0.5rem 0rem;
  text-decoration: none;
  font-size: 0.9em;
  display: block;
  overflow: hidden;
  margin-bottom: 1rem;
}
form input[type=checkbox], form input[type=radio] {
  display: inline;
}
form input[type=image] {
  max-width: 10rem;
}
form input:hover, form input:focus, form select:hover, form select:focus {
  background-color: white;
  border-color: #182c68;
  accent-color: #0637ce;
}
form input[type=color] {
  padding: 0;
}
form fieldset {
  display: block;
  padding: 1rem;
  margin: 1rem;
  border-radius: 1rem;
  background-color: #d5d9f2;
  border-color: #d5d9f2;
}
form fieldset legend {
  font-weight: bold;
}
form input[type=submit], form input[type=button], form input[type=reset] {
  background-color: #5a81fa;
  color: #FFFFFF;
  border: 1px solid #5a81fa;
  accent-color: #FFFFFF;
  border-radius: 50px;
  padding: 10px 20px;
  margin: 0.5rem 0rem;
  text-decoration: none;
  font-size: 1em;
}
form input[type=submit]:hover, form input[type=submit]:focus,
form input[type=button]:hover, form input[type=button]:focus,
form input[type=reset]:hover, form input[type=reset]:focus {
  background-color: #2c3d8f;
  border-color: #2c3d8f;
}

/*font style*/
body {
  margin-left: 2%;
  margin-top: 1%;
  font-family: Poppins, sans serif;
}

/*font sizes*/
h1, h2, h3 {
  color: #1f1f1f;
  font-weight: bold;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

p {
  font-size: 1rem;
  line-height: 1.5;
  margin: 1%;
  color: #1f1f1f;
}

/* links */
a, button {
  background-color: #5a81fa;
  color: #FFFFFF;
  border: 1px solid #5a81fa;
  accent-color: #FFFFFF;
  border-radius: 50px;
  padding: 10px 20px;
  margin: 0.5rem 0rem;
  text-decoration: none;
}

a:hover, button:hover {
  background-color: #2c3d8f;
  border-color: #2c3d8f;
}

ul {
  display: block;
  padding: 1rem;
  margin: 1rem;
  border-radius: 1rem;
  background-color: none;
  border-color: none;
}
ul li {
  list-style-type: circle;
  list-style-position: inside;
}

ol {
  display: block;
  padding: 1rem;
  margin: 1rem;
  border-radius: 1rem;
  background-color: none;
  border-color: none;
}
ol li {
  list-style: decimal;
  list-style-position: inside;
}

dl {
  display: block;
  padding: 1rem;
  margin: 1rem;
  border-radius: 1rem;
  background-color: none;
  border-color: none;
}
dl dt {
  font-weight: bold;
}
dl dd {
  margin-bottom: 0.5rem;
}
dl dd:last-child {
  margin-bottom: 0;
}

table {
  display: block;
  padding: 1rem;
  margin: 1rem;
  border-radius: 1rem;
  background-color: none;
  border-color: none;
  width: max-content;
}
table th {
  padding: 0.5rem;
  font-weight: bold;
}
table tbody tr:nth-child(odd) {
  background-color: #efefef;
}
table td {
  padding: 0.5rem;
}
table thead {
  color: #FFFFFF;
  background-color: #295bf9;
}
table tfoot {
  color: #FFFFFF;
  background-color: #5a81fa;
}

/*# sourceMappingURL=main.css.map */
