/*********** MIXINS ***********/

// Buttons
@mixin pill-theme($text:$tertiary, $bg:$primary, $bor:$bg, $acc:$text){
    background-color: $bg;
    color: $text;
    border: 1px solid $bor;
    accent-color: $acc;

    border-radius: 50px;
    padding: 10px 20px;
    margin: 0.5rem 0rem;
    text-decoration: none;
}

// Hover/focus states
@mixin focus-theme($bg:$secondary, $bor:$bg){
    background-color: $bg;
    border-color: $bor;
}

// Containers
@mixin container-theme($bg:none, $bor:$bg){
    display: block;
    padding: $container-pad;
    margin: $container-pad;
    border-radius: $container;

    background-color: $bg;
    border-color: $bor;
    
}