// Text Colors Utility Classes

.text-primary {
    color: #5a81fa;
}

.text-secondary {
    color: #2c3d8f;
}

.text-info {
    color: #2c3fd2;
}
.text-success {
    color: #16d643;
}

.text-warning {
    color: #ffc107;
}

.text-danger {
    color: #dc3545;
}

// Background
.bg-primary {
    background-color: #182c68;
}

.bg-secondary {
    background-color: #9aa5e0;
}

.bg-success {
    background-color: #28a745;
}

.bg-danger {
    background-color: #dc3545;
}

.bg-warning {
    background-color: #ffc107;
}

.bg-info {
    background-color: #17a2b8;
}

.bg-light {
    background-color: #f8f9fa;
}

.bg-dark {
    background-color: #343a40;
}