// Text Colors Utility Classes

.text-primary {
    color: #5a81fa;
}

.text-secondary {
    color: #2c3d8f;
}

.text-info {
    color: #2c3fd2;
}
.text-success {
    color: #16d643;
}

.text-warning {
    color: #ffc107;
}

.text-danger {
    color: #dc3545;
}







