.cursor-default {
    cursor: default;
}

.cursor-auto {
    cursor: auto;
}

.cursor-help {
    cursor: help;
}

.cursor-crosshair {
    cursor: crosshair;
}


.cursor-pointer {
    cursor: pointer;
}

.cursor-not-allowed {
    cursor: not-allowed;
}

.cursor-progress {
    cursor: progress;
}
