// Display Utility Classes

.d-none {
    display: none;
}

.d-block {
    display: block;
}

.d-inline {
    display: inline;
}

.d-inline-block {
    display: inline-block;
}

.d-flex {
    display: flex;
}

.d-grid {
    display: grid;
}

// Visibility Utility Classes

.visible {
    visibility: visible;
}

.invisible {
    visibility: hidden;
}