// Font Weight Utility Classes

.font-weight-xlight {
    font-weight: 200;
}

.font-weight-light {
    font-weight: 300;
}

.font-weight-standard {
    font-weight: 400;
}

.font-heavy {
    font-weight: 600;
}

.font-weight-xheavy {
    font-weight: 800;
}

// Font Size Utility Classes

.font-size-xsmall {
    font-size: 0.5rem;
}

.font-size-small {
    font-size: 0.8rem;
}

.font-size-standard {
    font-size: 1rem;
}

.font-size-large {
    font-size: 1.2rem;
}

.font-size-xlarge {
    font-size: 1.5rem;
}

