@import 'reset';
@import 'variables';
@import 'mixins';

/*************** DEFAULT STYLES *****************/
@import 'default/forms';

/*font style*/
body {
  margin-left: 2%;
  margin-top: 1%;
  font-family: $font-stack;
}

/*font sizes*/

h1, h2, h3 {
  color: $default-text;
  font-weight: bold;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

p {
  font-size: 1rem;
  line-height: 1.5;
  margin: 1%;
  color: $default-text;
}


/*links*/
a, button {
  @include pill-theme();
}

a:hover, button:hover {
  background-color: $secondary;
}

/*buttons*/

// TODO: turn button styles into inheritance and pass to links and form submitions
// TODO: clean up file structure