/*************** DEPENDANCIES *****************/
@import 'variables';
@import 'mixins';

/*************** DEFAULT STYLES ***************/
@import 'reset';
@import 'default/forms';

/*font style*/
body {
  margin-left: 2%;
  margin-top: 1%;
  font-family: $font-stack;
}

/*font sizes*/

h1, h2, h3 {
  color: $default-text;
  font-weight: bold;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

p {
  font-size: 1rem;
  line-height: 1.5;
  margin: 1%;
  color: $default-text;
}


/* links */
a, button {
  @include pill-theme();
}

a:hover, button:hover {
  @include focus-theme();
}

// Lists
ul{
  @include container-theme();

  li{
    list-style-type: circle;
    list-style-position: inside;
  }
}

ol{
  @include container-theme();

  li{
    list-style: decimal;
    list-style-position: inside;
  }
}

// Definition Lists
dl {
  @include container-theme();

  dt{
    font-weight: bold;
  }

  dd{
    margin-bottom: $element-pad;
  }
  dd:last-child{
    margin-bottom: 0;
  }
}

table{
  @include container-theme();
  width: max-content;
  
  th{
    padding: $element-pad;
    font-weight: bold;
  }

  tbody{
    tr:nth-child(odd){
      background-color: $bg-tertiary;
    }
  }

  td{
    padding: $element-pad;
  }

  thead{
    color: $tertiary;
    background-color: darken($primary, 10%);
  }

  tfoot{
    color: $tertiary;
    background-color: $primary;
  }
}

// TODO: clean up file structure