.position-static {
    position: static;
}

.position-fixed {
    position: fixed;
}

.position-sticky {
    position: sticky;
}

.position-top {
    top: 0;
}

.position-bottom {
    bottom: 0;
}

.position-left {
    left: 0;
}

.position-right {
    right: 0;
}
